.content {
    width: 100%;
    max-width: 800px;
    height: max-content;
    margin-top: 68px;
    padding: 8px;

    padding-bottom: 68px;

    font-size: 24px;

    background-color: #f2f2f2;

    &.fade-in {
        animation: fade-in 0.3s ease-out;
    }

    & .musics {
        width: 100%;

        display: block;
        justify-content: center;

        margin: 0;
        padding: 0;
    }

    & .track {
        display: flex;
        align-items: center;
        padding: 8px;

        width: 100%;

        border-bottom: #111 1px solid;

        & i {
            width: 50%;
            height: 50%;

            display: flex;
            align-items: center;
            justify-content: center;

            margin: 25%;

            font-size: 88px;
            color: #808080;
            opacity: 0.5;

            &:nth-child(1) {
                display: flex;
            }

            &:nth-child(2) {
                display: none;
            }

            &:hover {
                transform: scale(1.05);
            }
        }

        &.playing {
            & h3 {
                color: orangered;
            }

            & i {
                &:nth-child(1) {
                    display: none;
                }

                &:nth-child(2) {
                    display: flex;
                }
            }
        }

        & .img-box {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 170px;
            aspect-ratio: 1;
            border: #111 solid 1px;

            display: inline-block;

            cursor: pointer;
        }

        & p {
            width: fit-content;
        }

        & .description {
            flex: 1; /* 残りのスペースを占める */

            padding-left: 20px;
            display: block;
            font-family: "Noto Sans JP", Arial, sans-serif;
        }

        & .author {
            width: fit-content;
        }

        & .tags {
            width: fit-content;
        }
    }
}

.tag-button {
    padding: 10px 20px;

    width: fit-content;

    background-color: #f2f2f2;
    color: #111;

    box-shadow: none;

    border: #808080 solid 1px;

    border-radius: 8px;

    font-size: 16px;
}

.tag-button:hover {
    transform: none;
    background-color: #ccc;

    cursor: pointer;
}

.author {
    cursor: pointer;
}

.author:hover {
    color: #c0c0c0;
}

.play-count {
    max-width: 140px;

    text-align: right;

    overflow: hidden;
}

@keyframes fade-in {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
