@font-face {
    font-family: Anzu;
    src: url("APJapanesefontT.ttf") format("truetype");
}

body {
    font-family: "Noto Sans JP", Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;

    font-size: 24px;
    color: #111;

    white-space: nowrap;
}

h1 {
    width: 300px;
    margin: 20px;
    font-size: 48px;

    display: inline;

    font-family: sans-serif;
}

p,
h3 {
    margin: 0;
}

.header {
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 60px;
    left: 0;
    top: 0;

    padding: 0;

    background-color: #111;
    color: azure;
    font-size: 24px;

    user-select: none;

    z-index: 1000;
}

.header a {
    color: azure;
    text-decoration: none;
}

.header a:hover {
    color: #808888;
}

.nav {
    display: inline;

    margin: 20px;
}

.nav a {
    margin: 10px;
}

.content {
    width: 800px;
    height: max-content;
    margin-top: 60px;
    padding-bottom: 80px;

    font-size: 24px;

    background-color: #f2f2f2;

    /* box-shadow: 0px 0px 10px 0px grey; */
}

.tags button {
    width: fit-content;
    background-color: #f2f2f2;
    color: #111;
    box-shadow: none;

    transition: none;

    border: #808080 solid 1px;
}

.tags button:hover {
    transform: none;
    background-color: #ccc;
}

.author {
    cursor: pointer;
}

.author:hover {
    color: #808080;
}

.search {
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search input[type="submit"] {
    height: 40px;
}

.search-box {
    width: 80%;
    height: 35px;
}

ol {
    width: 100%;

    display: block;
    justify-content: center;

    margin: 0;
    padding: 0;
}

.content li {
    display: flex;
    align-items: center;
    padding: 20px;

    width: 90%;

    border-bottom: #111 1px solid;
}

.img-box {
    width: 170px;
    height: 170px;
    border: #111 solid 1px;

    display: inline-block;

    transition: all 0.5s;

    cursor: pointer;
}

.img-box:hover {
    transform: scale(105%);
}

.description {
    padding-left: 20px;
    height: 170px;
    display: block;
    font-family: "Noto Sans JP", Arial, sans-serif;
}

.footer {
    position: fixed;

    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;

    display: inline-flex;
    /* align-items: center; */
    justify-content: right;

    padding: 0;

    background-color: #111;
    color: azure;

    user-select: none;
}

.music-thumbnail {
    width: 30%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: left;
}

#mini-thumbnail {
    padding: 10px;

    height: 40%;
    aspect-ratio: 1;
    border: #f2f2f2 1px solid;
}

#music-title {
    padding-left: 20px;
    font-size: 16px;

    overflow: hidden;
}

.player-controls {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    justify-content: space-between;
}

.seek {
    display: inline-flex;
    align-items: center;
    justify-content: right;

    gap: 10px;

    padding: 20px;
}

label {
    font-size: 16px;
}

input[type="range"] {
    width: 300px;
    height: 5px;
    appearance: none;
    background: #555;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

.volume-control {
    width: 20%;

    display: flex;
    align-items: center;
    color: #fff;

    padding-right: 20px;
}

#volume {
    width: 80%;
}

button {
    display: inline-block;

    align-items: center;

    padding: 8px 20px;
    width: 70px;
    height: 40px;

    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #111;

    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); */

    cursor: pointer;
    /* transition: all 0.3s ease-in-out; */

    border: none;

    font-family: "Noto Sans JP", Arial, sans-serif;
}

button:hover {
    background: #444;
}

button:disabled {
    background: #ccc;
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
}

.loop-none {
    opacity: 0.5;
}

.loop-one {
    position: relative;
}

.loop-one::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8px;
    height: 8px;
    background-color: #007bff;
    border-radius: 50%;
}
