@font-face {
    font-family: Anzu;
    src: url("APJapanesefontT.ttf") format("truetype");
}

body {
    font-family: "Noto Sans JP", Arial, sans-serif;

    background-color: #f2f2f2;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    font-size: 24px;
    color: #111;

    white-space: nowrap;
}

/* ヘッダーここから */

h1 {
    width: 100%;
    height: 100%;

    font-size: 48px;

    display: inline;

    font-family: sans-serif;
}

#title {
    margin: 0 20px;

    width: 360px;
    height: 100%;
}

p,
h3 {
    margin: 0;
}

.header {
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 68px;
    left: 0;
    top: 0;

    padding: 0;

    background-color: #111;
    color: azure;
    font-size: 24px;

    user-select: none;

    z-index: 1000;
}

.header::before,
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("noise3.png");
    background-repeat: repeat;
    opacity: 0.1;
    pointer-events: none;
}

.header a {
    color: azure;
    text-decoration: none;
}

.header a:hover {
    color: #808888;
}

.nav {
    width: 360px;
    display: inline;
    margin: 0 20px;
}

.nav a {
    margin: 10px;
}

.hidden-twitter {
    display: none;
}

.search {
    margin-right: 20px;

    width: 40%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search input[type="submit"] {
    height: 100%;
}

.search-box {
    width: 80%;
    height: 90%;

    padding: 0;
    margin: 0;

    font-size:24px;

    font-family:"Noto Sans JP",sans-serif;
    
}

/* 中身ここから */

.content {
    width: 800px;
    height: max-content;
    margin-top: 60px;
    padding-bottom: 80px;

    font-size: 24px;

    background-color: #f2f2f2;
}

.tags {
    margin-top: 5px;
}

.tag-button {
    padding: 10px 20px;

    width: fit-content;

    background-color: #f2f2f2;
    color: #111;

    box-shadow: none;

    border: #808080 solid 1px;

    border-radius: 8px;

    font-size: 16px;
}

.tag-button:hover {
    transform: none;
    background-color: #ccc;

    cursor: pointer;
}

.author {
    cursor: pointer;
}

.author:hover {
    color: #c0c0c0;
}

ol {
    width: 100%;

    display: block;
    justify-content: center;

    margin: 0;
    padding: 0;
}

.content li {
    display: flex;
    align-items: center;
    padding: 20px;

    width: 90%;

    border-bottom: #111 1px solid;
}

.play-count {
    max-width: 140px;

    text-align: right;

    overflow: hidden;
}

.img-box {
    width: 170px;
    aspect-ratio: 1;
    border: #111 solid 1px;

    display: inline-block;

    transition: all 0.5s;

    cursor: pointer;
}

.img-box:hover {
    transform: scale(105%);
}

.description {
    flex: 1; /* 残りのスペースを占める */

    padding-left: 20px;
    display: block;
    font-family: "Noto Sans JP", Arial, sans-serif;
}

/* footerここから */

.footer {
    position: fixed;

    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;

    display: inline-flex;
    /* align-items: center; */
    justify-content: right;

    padding: 0;

    background-color: #111;
    color: azure;

    user-select: none;
}

.music-thumbnail {
    width: 400px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: left;
}

#mini-thumbnail {
    padding: 10px;

    height: 40%;
    aspect-ratio: 1;
    border: #f2f2f2 1px solid;
}

#music-title {
    padding-left: 10px;
    font-size: 16px;
    overflow: hidden;
}

.player-controls {
    width: 100%;
    max-width: 100%;

    display: inline-flex;
    align-items: center;
    gap: 10px;

    justify-content: space-between;
}

.seek {
    width: 100%;
    min-width: 200px;

    display: inline-flex;
    align-items: center;
    justify-content: right;

    gap: 10px;
}

#seekBar {
    width: 100%;
    max-width: 100%;
}

input[type="range"] {
    width: 300px;
    height: 5px;
    appearance: none;
    background: #555;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

.volume-control {
    min-width:160px;
    
    display: flex;
    justify-content: right;
    align-items: center;
    color: #fff;
    padding-right: 20px;
}

#volume {
    width: 100%;
    min-width: 80px;
}

.volume-label {
    font-size: 16px;
    margin: 10px;
}

.player-controls button {
    display: inline-block;

    align-items: center;

    padding: 8px 20px;
    width: 70px;
    height: 40px;

    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #111;

    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); */

    cursor: pointer;
    /* transition: all 0.3s ease-in-out; */

    border: none;

    font-family: "Noto Sans JP", Arial, sans-serif;
}

.player-controls button:hover {
    background: #444;
}

.player-controls button:disabled {
    background: #ccc;
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
}

.loop-none {
    opacity: 0.5;
}

.loop-one {
    position: relative;
}

.loop-one::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 8px;
    height: 8px;
    background-color: #007bff;
    border-radius: 50%;
}

.shuffle-off {
    opacity: 0.5;
}

/* 画面幅 */

@media (max-width: 1200px) {
    .hidden-twitter {
        display: block;
        margin: 20px;
    }

    .music-thumbnail {
        display: none;
    }

    .nav {
        display: none;
    }
}

@media (max-width: 768px) {
    .img-box {
        width: 100px;
    }

    .tag-button {
        padding: 5px 10px;

        font-size: 12px;
    }

    p,
    h3 {
        font-size: 16px;
    }

    .footer {
        justify-content: left;
    }

    .play-count {
        display: none;
    }

    .time-count {
        display: none;
    }
}

@media (max-width: 530px) {
    h1 {
        font-size: 24px;
    }

    .header {
        height: 40px;
    }

    .volume-control {
        display: none;
    }

    .search input[type="submit"] {
        display: none;
    }
}
